In [2]:
# Import dependencies
import os
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from https://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_mac64.zip
[WDM] - Driver has been saved in cache [/Users/ronjinihassan/.wdm/drivers/chromedriver/mac64/88.0.4324.96]

### NASA Mars News

In [4]:
# Visit the URL through splinter module
nasa_url = 'https://mars.nasa.gov/news/'
browser.visit(nasa_url)

In [5]:
# Use beautiful soup to parse html and find everything in first element 
html = browser.html
nasa_soup = BeautifulSoup(html, 'html.parser')
first_element = nasa_soup.select_one("ul.item_list li.slide")

# Collect the latest News Title and Paragraph Text
news_title = first_element.find('div', class_='content_title').find('a').text
news_p = first_element.find('div', class_='article_teaser_body').text

# Print result
print(f"Title: {news_title}")
print(f"Paragraph Text: {news_p}")

Title: NASA's Mars Perseverance Rover Provides Front-Row Seat to Landing, First Audio Recording of Red Planet
Paragraph Text: The agency’s newest rover captured first-of-its kind footage of its Feb. 18 touchdown and has recorded audio of Martian wind.

In [8]:
# Close browser
browser.quit()

### JPL Mars Space Images - Featured Image

In [38]:
# Setup splinter
browser = Browser('chrome', **executable_path, headless=False)

In [39]:
# Visit the URL through splinter module
mars_image_url = "https://www.jpl.nasa.gov/images?query=mars"
browser.visit(mars_image_url)

In [40]:
# Create HTML object
html = browser.html
image_soup = BeautifulSoup(html, 'html.parser')

In [41]:
# Extract the image URL 
featured_image_url = image_soup.find("img", class_="BaseImage object-contain")["data-src"]

In [42]:
# Display url of the full image
print(featured_image_url)

https://d2pn8kiwq2w21t.cloudfront.net/images/jpegPIA15964.2e16d0ba.fill-400x400-c50.jpg

In [43]:
# Close browser
browser.quit()

### Mars Facts

In [35]:
# Setup splinter
browser = Browser('chrome', **executable_path, headless=False)

In [36]:
# Visit the URL through splinter module
mars_facts_url = "https://space-facts.com/mars/"
browser.visit(mars_facts_url)

In [49]:
# Read html into a dataframe
mars_facts_to_html = pd.read_html(mars_facts_url)
mars_facts_to_html

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [50]:
# Create a dataframe from the html and capture first instance
mars_df = mars_facts_to_html[0]
mars_df.columns=["Description", "Value"]

# Set the index to Description column 
mars_df.set_index("Description", inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [52]:
# Save into html code
mars_df.to_html('mars_facts.html', index=True, classes=['table', 'table-striped', 'table-hover'])

In [53]:
# Close browser
browser.quit()

### Mars Hemispheres

In [54]:
# Setup splinter
browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Visit the URL through splinter module
hemispheres_url = ""
browser.visit(mars_facts_url)